<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
             
<!-- Revenue output area -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="thumbnail">
      <div class="caption">
        <h3>Revenue Details</h3>
        
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Item</th>
              <th>One-time</th>
              <th>Monthly</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in $ctrl.itemsRev">
              <td>{{item.name}}</td>
              <td>${{item.once}}</td>
              <td>${{item.monthly}}</td>
              <td>
                <button 
                  type="button" 
                  class="btn btn-large btn-block btn-danger btn-sm" 
                  ng-click="$ctrl.deleteItem($ctrl.itemsRev, item)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
<!-- Revenue form -->
        <form 
          novalidate 
          name="$ctrl.formRev" 
          class="form-inline" 
          ng-submit="$ctrl.addNewItem($ctrl.itemsRev, $ctrl.newItemRev)">    
          <!-- ng-class="{'has-success': $ctrl.formRev.name.$valid, 'has-error': $ctrl.formRev.name.$touched && $ctrl.formRev.name.$invalid}"    -->
          <div class="form-group">
            <label class="sr-only" for="name"></label>
            <input 
              id="name" 
              name="name" 
              type="text" 
              class="form-control" 
              placeholder="Item" 
              ng-model="$ctrl.newItemRev.name" 
              required 
              ng-minlength="3">
          </div>
          <div class="form-group">
              <label class="sr-only" for="once"></label>
              <input 
                id="once" 
                name="once" 
                type="number" 
                class="form-control" 
                placeholder="One-time" 
                ng-model="$ctrl.newItemRev.once" 
                required ng-minlength="1">
          </div>
          <div class="form-group">
              <label class="sr-only" for="monthly"></label>
              <input 
                id="monthly" 
                name="monthly" 
                type="number" 
                class="form-control" 
                placeholder="Monthly" 
                ng-model="$ctrl.newItemRev.monthly" 
                required ng-minlength="1">
          </div>      
          <input 
            class="btn btn-primary" 
            type="submit" 
            ng-disabled="$ctrl.formRev.$invalid" 
            value="Add Revenue Item">
        </form>  

<!-- Revenue form validation -->
        <div class="error-container" ng-show="$ctrl.formRev.name.$touched && $ctrl.formRev.name.$invalid">
            <small class="error" ng-show="$ctrl.formRev.name.$error.required">
            The item name is required.
            </small>
            <small class="error" ng-show="$ctrl.formRev.name.$error.minlength">
            The item name is required to be at least 3 characters
            </small>
        </div>
        <div class="error-container" ng-show="$ctrl.formRev.once.$touched && $ctrl.formRev.once.$invalid">
          <small class="error" ng-show="$ctrl.formRev.once.$error.required">
            The one-time revenue is required
          </small>
        </div>
        <div class="error-container" ng-show="$ctrl.formRev.monthly.$touched && $ctrl.formRev.monthly.$invalid">
            <small class="error" ng-show="$ctrl.formRev.monthly.$error.required">
              The monthly revenue is required
            </small>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Expenses output area -->
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="thumbnail">
        <div class="caption">
          <h3>Expense Details</h3>
          
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Item</th>
                <th>One-Time</th>
                <th>Monthly</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in $ctrl.itemsExp">
                <td>{{item.name}}</td>
                <td>${{item.once}}</td>
                <td>${{item.monthly}}</td>
                <td>
                 <button 
                  type="button" 
                  class="btn btn-large btn-block btn-danger btn-sm" 
                  ng-click="$ctrl.deleteItem($ctrl.itemsExp, item)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
                <!-- Expenses form -->
          <form 
            novalidate 
            name="$ctrl.formExp" 
            class="form-inline" 
            ng-submit="$ctrl.addNewItem($ctrl.itemsExp, $ctrl.newItemExp)">        
            <div class="form-group">
              <label class="sr-only" for="name"></label>
              <input 
                id="name" 
                name="name" 
                type="text" 
                class="form-control" 
                placeholder="Item" 
                ng-model="$ctrl.newItemExp.name" 
                required 
                ng-minlength="3">
            </div>
            <div class="form-group">
                <label class="sr-only" for="once"></label>
                <input 
                  id="once" 
                  name="once" 
                  type="number" 
                  class="form-control" 
                  placeholder="One-time" 
                  ng-model="$ctrl.newItemExp.once" 
                  required 
                  ng-minlength="1">
            </div>
            <div class="form-group">
                <label class="sr-only" for="monthly"></label>
                <input 
                  id="monthly" 
                  name="monthly" 
                  type="number" 
                  class="form-control" 
                  placeholder="Monthly" 
                  ng-model="$ctrl.newItemExp.monthly" 
                  required 
                  ng-minlength="1">
            </div>   
            <input 
              class="btn btn-primary" 
              type="submit" 
              ng-disabled="$ctrl.formExp.$invalid" 
              value="Add Expense Item">            
          </form>  
          <!-- Expenses form validation -->
        <div class="error-container" ng-show="$ctrl.formExp.name.$touched && $ctrl.formExp.name.$invalid">
            <small class="error" ng-show="$ctrl.formExp.name.$error.required">
            The item name is required.
            </small>
            <small class="error" ng-show="$ctrl.formExp.name.$error.minlength">
            The item name is required to be at least 3 characters
            </small>
        </div>
        <div class="error-container" ng-show="$ctrl.formExp.once.$touched && $ctrl.formExp.once.$invalid">
          <small class="error" ng-show="$ctrl.formExp.once.$error.required">
            The one-time expense is required
          </small>
        </div>
        <div class="error-container" ng-show="$ctrl.formExp.monthly.$touched && $ctrl.formRExp.monthly.$invalid">
            <small class="error" ng-show="$ctrl.formExp.monthly.$error.required">
              The monthly expenses is required
            </small>
        </div>
        </div>
      </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">

          <!-- Revenue Total -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="thumbnail">
              <div class="caption">
                <h3>Revenue Total</h3>      
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>One-time</th>
                      <th>Monthly</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>${{}}</td>
                      <td>${{}}</td>
                      <td>${{}}</td>
                    </tr>
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>
        
        <!-- Expenses Total -->
        
        <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="thumbnail">
              <div class="caption">
                <h3>Expenses Total</h3>
                <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>One-time</th>
                        <th>Monthly</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="thumbnail">
                <div class="caption">
                  <h3>Contribution</h3>
                  <p>Monthly Contribution Profit: </p>
                  <p>Total Contribution Profit: </p>
                  <p>Contribution Margin: </p>
                  <p>Capital ROI (Months): </p>
                </div>
              </div>
            </div> -->
</div> 